body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: green;
    margin: 0;
padding: 0;
}
h1 {
    text-align: center;
    color: yellow;
    margin-bottom: 20px;
}
.menu-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.menu-section h2 {
    color: black;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
span{
    font-weight: bold;
    color: black;
}